@use 'vuetify/settings' with (
  $body-font-family: var(--font-base),
  $utilities: false,
  $color-pack: false,
  $grid-breakpoints: (
    // repeated in vuetify.ts and tailwind.css
    'xs': 0,
    'sm': 600px,
    'md': 840px,
    'lg': 1145px,
    'xl': 1545px,
    'xxl': 2138px,
  ),
  $container-max-widths: (
    'md': 700px,
    'lg': 1000px,
    'xl': 1400px,
    'xxl': 2000px,
  ),
  $overlay-opacity: .5,
  $overlay-scrim-background: #000,

  // reset elevation
  $alert-elevation: 0,
  $app-bar-elevation: 0,
  $autocomplete-content-elevation: 0,
  $avatar-elevation: 0,
  $bottom-navigation-elevation: 0,
  $bottom-sheet-elevation: 0,
  $button-elevation: ('default': 0, 'hover': 0, 'active': 0),
  $card-elevation: 0,
  $card-hover-elevation: 0,
  $chip-elevation: 0,
  $color-picker-elevation: 0,
  $combobox-content-elevation: 0,
  $dialog-elevation: 0,
  $field-control-solo-elevation: 0,
  $hotkey-elevation: 0,
  $icon-btn-elevation: 0,
  $kbd-elevation: 0,
  $list-item-elevation: 0,
  $menu-elevation: 0,
  $navigation-drawer-temporary-elevation: 0,
  $select-content-elevation: 0,
  $snackbar-elevation: 0,
  $stepper-elevation: 0,
  $stepper-header-elevation: 0,
  $switch-thumb-elevation: 0,
);
